<!DOCTYPE html>

<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
</head>

<body>

    <header>
        <%- include('../partials/header.ejs') %>
    </header>

    <main>

        
        <% if((massage)=='incorrect' ){ %>
            <p style="color: red;">Username or Password is incorrect , try agin please</p>
        <% } %>

                <section id="dashboard-signin">
                    <section id="signin-section">
                        <p id="signin-header">Sign in</p>
                        <form id="signin-form" action="/signin" method="post">
                            <input type="text" name="username" id="username" placeholder="User-name" required
                                autocomplete="off"><br>
                            <input type="password" name="password" id="password" placeholder="Password" required
                                autocomplete="off"><br>
                            <button type="submit">Sign in</button>
                        </form>
                    </section>
                </section>
    </main>

    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $('#burger-menu').click(function () {
            $('#burger-menu-list').toggleClass('hide-burger-menu');
        });
    </script>

</body>

</html>