<!-- Logo -->
<h1><a href="/" id="nav-logo">chaTech;</a></h1>
<!-- Nav Links, Hidden By Default -->
<ul>
    <li><a href="/signin" class="nav-links">Admin</a></li>
    <li><a href="/about" class="nav-links">About</a></li>

    <li><a href="/signup" class="nav-links" action="/signup" method="get">Sign up</a></li>

<!-- <li>
    <form id="hero-form" action="/signup" method="get" class="signup-navbar">
        <button type="submit">Sign up</button>
    </form>
</li> -->
 

</ul>

<!-- Burger Menu Button -->
<a href="javascript:void(0)" id="burger-menu"><i class="fa fa-bars"></i></a>

<!-- Burger Menu List -->
<section id="burger-menu-list" class="hide-burger-menu">
    <ul>
        <li><a href="/signin" class="nav-links">Admin</a></li>
        <li><a href="/about" class="nav-links">About</a></li>
        <li><a href="/signup" class="nav-links" action="/signup" method="get">Sign up</a></li>
        
    </ul>
</section>