<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
</head>

<body>

    <header>
        <%- include('./partials/header.ejs') %>
    </header>

    <main>
        <!-- Hero Section -->
        <section id="hero-image">
            <section id="hero-text-and-form">
                <p id="hero-text">where techies connect!</p>
                <form id="hero-form" action="/" method="post">
                    <input type="text" name="name" id="hero-section-name" placeholder="user-Name" required autocomplete="off"><br>
                    <input type="password" name="password" id="hero-section-name" placeholder="Your password" required autocomplete="off"><br>
                    <button type="submit">Let's Go</button>
                </form>
            </section>
        </section>
    </main>

    <footer>
        <%- include('./partials/footer.ejs') %>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $('#burger-menu').click(function() {
            $('#burger-menu-list').toggleClass('hide-burger-menu');
        });
    </script>

</body>

</html>